<div class="container">
  <form action="/home/create_upcoming" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="title" placeholder="콘서트 이름">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="artist" placeholder="아티스트">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="youtube_id" placeholder="유투브 링크 아이디">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="d_day" placeholder="공연일(양식 : 2017.05.24)">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="place" placeholder="공연장소">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="ticket_link" placeholder="티켓 링크">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>