<!-- Top NavBar -->
<div class="top-navbar">
  <div class="text-center">
    <p class="navbar-font">LIVLE</p>
  </div>
</div>

<div id="upcomings">
  <%= render @upcomings %>
</div>

<div class="infinite-scrolling">
  <%= will_paginate %>
</div>

<!-- Bottom NavBar -->
<div class="bottom-navbar">
  <div class="row">
    <a href="/stages/home" method="get">
      <div class="col-xs-4 text-center">
        <p class="navbar-font">Stage</p>
      </div>
    </a>
    <a href="/upcomings/home" method="get">
      <div class="col-xs-4 text-center">
        <p class="navbar-font" style="color:#FF0000">Upcoming</p>
      </div>
    </a>
    <a href="/artists/home" method="get">
      <div class="col-xs-4 text-center">
        <p class="navbar-font">Artist</p>
      </div>
    </a>
  </div>
</div>