<a href="/artists/<%= artist.id %>/list" method="get">
  <div class="artist_background" style="background: url(<%= image_url("#{artist.image}") %>) no-repeat center center; background-size: cover;">
    <div class="artist_name text-center">
      <h1><%= artist.artist %></h1>
    </div>
  </div>
</a>