<div class="container">
  <form action="/artists/upload_image" method="post" enctype="multipart/form-data">
    <input type="text" class="form-control" name="artist" placeholder="아티스트 이름">
    <input type="file" name="image" accept="image/*">
    <input type="submit">
  </form>
</div>