<!-- Top NavBar -->
<div class="top-navbar">
  <div class="text-center">
    <p class="navbar-font">LIVLE</p>
  </div>
</div>

<div id="artists">
  <% @artists.each do |artist| %>
      <a href="/artists/<%= artist.id %>/list" method="get">
        <div class="artist_background" style="background: url(<%= image_url("#{artist.image}") %>) no-repeat center center; background-size: cover;">
          <div class="artist_name text-center">
            <h1><%= artist.artist %></h1>
          </div>
        </div>
      </a>
  <% end %>
</div>

<!-- Bottom NavBar -->
<div class="bottom-navbar">
  <div class="row">
    <a href="/stages/home" method="get">
      <div class="col-xs-4 text-center">
        <h2 class="navbar-font">Stage</h2>
      </div>
    </a>
    <a href="/upcomings/home" method="get">
      <div class="col-xs-4 text-center">
        <h2 class="navbar-font">Upcoming</h2>
      </div>
    </a>
    <a href="/artists/home" method="get">
      <div class="col-xs-4 text-center">
        <h2 class="navbar-font">Stage</h2>
      </div>
    </a>
  </div>
</div>

<script>
  var width = $(window).width();
  var img_height = width/2;

  $('.artist_background').css('height', img_height);
</script>