<!-- Top NavBar -->
<div class="top-navbar">
  <div class="text-center">
    <p class="navbar-font">LIVLE</p>
  </div>
</div>

<div style="background: #222222; width: 100%; padding-top: 100%; padding-bottom: 100%;">

</div>

<!-- Bottom NavBar -->
<div class="bottom-navbar">
  <div class="row">
    <div class="col-xs-4 text-center">
      <%= link_to "Stage", {:controller => :stages, :action => :home, :method => :get}, {class: "navbar-font"} %>
    </div>
    <div class="col-xs-4 text-center">
      <%= link_to "Upcoming", {:controller => :upcomings, :action => :home, :method => :get}, {class: "navbar-font"} %>
    </div>
    <div class="col-xs-4 text-center">
      <%= link_to "Artist", {:controller => :artists, :action => :home, :method => :get}, {class: "navbar-font"} %>
    </div>
  </div>
</div>