<div class="container">
  <form action="/home/create_stage" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="title" placeholder="노래 이름">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="artist" placeholder="아티스트">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="user_id" placeholder="유저 아이디">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="youtube_id" placeholder="유투브 링크 아이디">
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" name="count_like" value="0">
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" name="count_share" value="0">
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" name="count_view" value="0">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>