/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* BebasNeue 폰트 적용 */
@font-face {
  font-family: Bebas Neue;
  src: url('/assets/BebasNeue.ttf') format('truetype');
}

.navbar-font {
  /*font-family: ;*/
  font-size: 320%;
  font-family: 'Bebas Neue', 'NanumsSquare';
  color: #FFFFFF;
  text-decoration: none !important;
}

.top-navbar {
  width:100%;
  top: 15pt;
  position: fixed;
  z-index: 10;
}

.bottom-status {
  width: 100%;
  bottom: 5.5%;
  position: fixed;
}

.bottom-navbar {
  width: 100%;
  bottom: 1%;
  position: fixed;
}

* {
  box-sizing: border-box;
}

.list-video {
  position: relative;
  width: 100%;
  height:0;
  padding-bottom: 56.25%;
  overflow:hidden;
  //z-index: -99;
}

.background-video,
.list-video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.descript-stage-video {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Bebas Neue", 'NanumsSquare';
  color: #fff;
}

.descript-stage-video h1 {
  margin-top: 19%;
}

.descript-upcoming-video {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Bebas Neue", 'NanumsSquare';
  color: #fff;
}

.descript-upcoming-video h1 {
  margin-top: 23%;
}

.list-video h1,
.detail-container h1,
.artist_background h1 {
  color: #FFFFFF;
  font-size: 450% !important;
}
.list-video h2,
.detail-container h2 {
  color: #FFFFFF;
  font-size: 360% !important;
}
.list-video h3,
.detail-container h3 {
  color: #FFFFFF;
  font-size: 260% !important;
}

.detail-container h4 {
  color: #FFFFFF;
  font-size: 200% !important;
}

.btn-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.detail-container {
  background: #000000;
  background: rgba(0, 0, 0, 0.65);
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 47.5%;
  padding-bottom: 47.5%;
  font-family: "Bebas Neue", 'NanumsSquare';
  overflow: hidden;
}

.detail-container hr {
  border-top: 1px solid #FF0000;
}

.detail-descript {
  padding-left: 3%;
}

.detail-descript .detail-text {
  padding-left: 16%;
}

.display-horizon {
  display: inline-block;
  padding-top: 10%;
}

.detail-buttons {
  margin-top: -5%;
}

.detail-buttons h3 {
  padding-left: 4%;
  color: #FF0000;
}

.ticket-place {
  margin-top: 3%;
}

.artist_background {
  width: 50%;
  height: auto;
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
}

.artist_name {
  padding-top: 42%;
  font-family: "Bebas Neue", 'NanumsSquare';
  color: #FFFFFF;
}